<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <title>Login</title>
</head>
<body>
    {% extends "template.html" %}
    {% set active_page = "login" %}
    {% block content %}
    <div class="main-content">
        <div class="register">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <p class="signup-text">Need an account? <a href="/register">Register</a></p>
                <button type="submit" class="btn btn-primary">Login</button>
                {% if error %}
                <div class="alert alert-danger">
                    <p>{{ error }}</p>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    {% endblock %} 
    
</body>
</html>