<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Methodology</title>
</head>
<body>
    {% extends "template.html" %}
    {% set active_page = "methodology" %}
    {% block content %}
    <div class="main-content">
        <div class="summary">
            <h1>Methodology</h1>
            <p>
            Our methodology provides some background on how the carbon emissions are calculated when a user reports its transportation data in our Carbon Application.
            </p>
        </div>
        <div class="summary">
            <h3>Our numbers and formulas:</h3>
            <div class="formula">
                <p>
                    This is the general formula for calculating the CO2 emissions. We multiply the CO2 equivalents with the number of km traveled. Some of the transport methods use this simple fromula, whilst others have small variable changes.
                </p>
                <div class="formula">
                    <p>

                    </p>
                </div>
            </div>
        </div>
        
    </div>

    {% endblock %} 
    
</body>
</html>